<div class="container">
  <div class="row justify-content-center vh-100 align-content-center">
    <div class="col col-md-6 text-center my-4">
            <h1>Welcome to Fakestagram</h1> 
            <h3>please sign up or log in.</h3>
            <br>
            <%= link_to "Sign up", new_account_registration_path, class: "btn btn-dark"%>
            <%= link_to "Log in", new_account_session_path, class: "btn btn-dark"%>
    </div>
  </div>
</div>
